<link rel="stylesheet" href="/css/app.css" />

<div id="container">
  <h1>Welcome to the web app!</h1>

  <div id="sign-out">
    <a href="/users/destroy-session">
      <button>Sign Out</button>
    </a>
  </div>
</div>

<div>
  <a href="/users/forgot-password">
    <button>Reset Password</button>
  </a>
</div>
