<link rel="stylesheet" href="/css/home.css" />

<h1>Welcome!</h1>
<h2>Please Sign Up/Sign In to continue...</h2>

<a href="/users/sign-up">
  <button id="up">Sign Up</button>
</a>

<a href="/users/sign-in">
  <button>Sign In</button>
</a>
