<h1>Reset Password</h1>

<form action="/users/reset-password/?token=<%= user.token %>" method="POST">
  <input type="password" name="password" placeholder="Your Password" required />
  <input
    type="password"
    name="confirm_password"
    placeholder="Confirm Password"
    required
  />
  <input class="submit" type="submit" value="Reset Password" />
</form>
